p {margin-left:10px;
    color:white;}
body {  
    //background-color:#F99379;
}

#gameWrapper {
    //background-color: #0B300C;
    position: absolute;
    margin-top: 60px;
    margin-left: 150px;
}

#menuWrapper {
    background-color: white;
    position: absolute;
    margin-top: 60px;
    margin-left: 755px; 
    width: 602px;
    height: 100px;
    
}

#newGame {
    background-color: yellow;
    float: left;
    width: 100px;
    height: 100px;
}

#undo {
    background-color: green;
    float: left;
    width: 100px;
    height: 100px;
}

#redo {
    background-color: yellow;
    float: left;
    width: 100px;
    height: 100px;
}

#win {
    background-color: green;
    float: left;
    width: 100px;
    height: 100px;
}

#help {
    background-color: yellow;
    float: left;
    width: 100px;
    height: 100px;
}

#pump {
    background-image:url("pump.png");
    background-repeat: no-repeat; 
    
    //background-color: blue;
    float:left;
    margin-left: 50px;
    margin-top: 2px;
    width: 100px;
    height: 157px;
}

#drain {
    background-image:url("rightbottom.png");
    background-repeat: no-repeat;
    
    //background-color: violet;
    position: absolute;
    margin-top: 184px;
    margin-left: 715px;
    width: 470px;
    height: 491px;
}